// Define variables for your color scheme

// For example:
$white: #FFFFFF;
$greyscale-1: #F4F4F4;
$greyscale-2: #E5E5E5;
$greyscale-3: #B0A8A7;
$greyscale-4: #949191;
$greyscale-5: #707070;
$greyscale-6: #434343;
$black: #282828;
$dark-green: #29362E;
$brown: #908478;
$red: rgba(255, 42, 42, 0.768);
$green: #129443;
