// Define variables for your color scheme

// For example:
$white: #FFFFFF;
$greyscale-1: #F4F4F4;
$greyscale-2: #E5E5E5;
$greyscale-3: #958e8e;
$greyscale-4: #6f6b6b;
$greyscale-5: #373737;
$greyscale-6: #242424;
$black: #0c0c0c;
$dark-green: #29362E;
$brown: #908477;
$red: rgba(229, 22, 22, 0.768);
$green: #129443;
