// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700;900&display=swap');
// Define fonts for body and headers
$light-font: 'Alegreya Sans', sans-serif;
$regular-font: 'Alegreya Sans', sans-serif;
$bold-font: 'Alegreya Sans', sans-serif;
$button-font: 'Roboto', sans-serif;
$headers-font: 'Josefin Sans', sans-serif;
$dashboard-font: 'Quicksand', sans-serif;
$infographics-font: 'Libre Baskerville', serif;


p {
  font-size: 1.2rem;
}
