// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// Define fonts for body and headers
$light-font: 'Alegreya Sans', sans-serif;
$regular-font: 'Alegreya Sans', sans-serif;
$bold-font: 'Alegreya Sans', sans-serif;
$button-font: 'Roboto', sans-serif;


p{
  font-size: 24px;
}
