// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400&display=swap');

// Define fonts for body and headers
$light-font: 'Alegreya Sans', sans-serif, thin;
$regular-font: 'Alegreya Sans', sans-serif, light;
$bold-font: 'Alegreya Sans', sans-serif, bold;
