.grid-container {
  display: grid;
  width: 100%;
  gap: 45px;
  grid-template-columns: 1fr 1fr 1fr;
}

.all-books {
  display: flex;
  justify-content: space-between;

  .dashboard {
    right: 0px;
    top: 0px;
  }
}


.search-parameters {
  display: flex;
  flex-direction: column;
}

.title-books {
    font-family: $headers-font;
    font-size: 80px;
}

.search-bar {
  width: 40%;
}
