.info-section{
  margin-top: 5rem;
  width: 100%;

}

.navigation-bar{
  display: flex;

  p{
    border: solid 1px $greyscale-2;
    padding: 10px;

    :hover{
      text-decoration: underline;
    }
  }

  a {
    text-decoration: none;
    color: $greyscale-4;
    border: solid $greyscale-3;
    padding: 10px 20px;

    :hover {
      color: $greyscale-6;
    }
  }
}



.content-section{
  width: 100%;
  height: 50vh;
  border: solid 1px $greyscale-3;
  padding: 15px 20px;
  scroll-behavior: smooth;
  overflow: scroll;
}

.description {
  padding: 10px 30px;
  display: flex;
  width: 45vw;
  justify-content: space-between;
  border-radius: 5px;
  flex-direction: column;
  border-color: $greyscale-3;
  color: $greyscale-5;
  background-color: $white;
  font-family: $headers-font;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  z-index:-1;
  -webkit-box-shadow:0 0 20px $greyscale-5;
  -moz-box-shadow:0 0 20px $greyscale-5;
  box-shadow:0 0 20px $greyscale-5;
  top:0;
  bottom:0;
  left:10px;
  right:10px;
}

.value-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
  .value-list-item {
    text-align: center;
  }
}

.stock-image {
  height: 200px;
}
