.image-card {
    width: 40%;

  }
  .book-cover {
    height: 400px;
    object-fit: cover;
  }

.description{
  background-color: white;
  width: 40%;
  padding: 15px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 1px, 1px, 1px, rgb(66, 65, 65);
}

.purchage-section{
  display: flex;
  gap: 1rem;

  #share_value{
    flex: 20%
  }

  #form{
    flex: 30%
  }

  #graph{
    flex: 50%
  }

  #graph img{
    width: 100%
  }
}
