.swiper {
  margin: 0 auto;
  width: 60rem;
  height: 25.6875rem;
  margin-top: 10rem;
}

.card {
  margin: 0 auto;
  width: 60rem;
  height: 25.6875rem;
  position: relative;
  color: $white;
  padding-left: 15rem;
  padding-top: 8rem;
}

.number {
  font-size: 25rem;
  font-family: $numbers-font;
  position: absolute;
  left: 3rem;
  bottom: -5rem;
}

.card-1 {
  background-color: #a5c76a;
  color:  #d3efa5;
<<<<<<< HEAD
=======
  .number {
    color:  #d3efa5;
  }
>>>>>>> ea7c9ec0c64d5c7201c3756aa8a4cdd8bc98ee7c
}

.card-2 {
  background-color: #c76a6a;
  color:  #efc9a5;
}

.card-3 {
  background-color: #a5c76a;
  color:  #d3efa5;
}

.card-4 {
  background-color: #c76a6a;
  color:  #efc9a5;
}

.card-5 {
  background-color: #a5c76a;
  color:  #d3efa5;
}

.card-6 {
  background-color: #c76a6a;
  color:  #efc9a5;
}

.card-7 {
  background-color: #a5c76a;
  color:  #d3efa5;
}

.card-8 {
  background-color: #c76a6a;
  color:  #efc9a5;
}

.card-9 {
  background-color: #a5c76a;
  color:  #d3efa5;
}

.card-10 {
  background-color: #c76a6a;
  color:  #efc9a5;
}

.swiper-button-next {
  color: $greyscale-4;
}
