<div class="container">
<h1>Portfolio</h1>
  <div class="portfolio">
    <div class="row">
      <div class="col-4">Amount</div>
      <div class="col-4">Graphic</div>
      <div class="col-4">Value</div>
    </div>
  </div>

  <div class="share-container">
  </div>
</div>
