<div class="banner">
  <div class="banner-container">
    <h1>Ghostwriter brings <strong>authors</strong> and <strong>investors</strong>to gether!</h1>
    <p>Change your life and invest in the books of authors from around the world.</p>
  </div>
</div>
