<div class="card" style="<%= width %>">
  <div class="growth">
    <p>+ 3.6%</p>
    <p>€ 3.5</p>
  </div>

  <div class="d-flex">
    <div class="image-upoad justify-content-between">
      <img src="https://mpd-biblio-covers.imgix.net/9781250847959.jpg?" alt="book-cover" height="230px">
    </div>

    <div class="book-info">
      <h1>Title</h1>
      <h4>Author</h4>
      <% text = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco." %>
      <p><%= text.first(150) %>...</p>
    </div>
  </div>

  <div class="info-bar">
        <p>Queer Author</p>
        <P>Cerebral</P>
        <p>Classic</p>
    </div>
  </div>
</div>


<p class="button-grey">Button</p>
