<%= link_to "#", style: "text-decoration: none;" do %>
  <div class="dashboard">
    <p>Portfolio Value</p>
      <div class="portfolio-value">
        <h2>€401</h2>
        <p>+8%</p>
      </div>
      <div class="grid-dashboard">
        <div class="grid-dashboard-item">
          <p>Available Cash</p>
          <p>€51</p>
        </div>
        <div class="grid-dashboard-item">
          <p>Earnings</p>
            <p>€12</p>
        </div>
        <div class="grid-dashboard-item">
          <p>Badges</p>
          <p>14 books</p>
        </div>
      </div>

  </div>
<% end %>
