<%= link_to "#", style: "text-decoration: none;", class: "dashboard" do %>
  <div class="dashboard-container">
      <div class="portfolio-value">
        <div>
          <p>Wallet:</p>
        </div>
        <div>
          <p style="color: green";>€401,15 +8%</p>
        </div>
      </div>
      <div class="grid-dashboard">
        <div class="grid-dashboard-item">
          <p>Available Cash</p>
          <p>€51</p>
        </div>
        <div class="grid-dashboard-item">
          <p>Earnings</p>
            <p>€12</p>
        </div>
        <div class="grid-dashboard-item">
          <p>Badges</p>
          <p>14 books</p>
        </div>
      </div>
  </div>
<% end %>
