<%= link_to "#", style: "text-decoration: none;", class: "dashboard" do %>
  <div class="dashboard-container">
      <div class="portfolio-value">
        <h2>€401</h2>
        <p>+8%</p>
      </div>
      <div class="grid-dashboard">
        <div class="grid-dashboard-item">
          <p>Available Cash</p>
          <h2>€51</h2>
        </div>
        <div class="grid-dashboard-item">
          <p>Earnings</p>
            <h2>€12</h2>
        </div>
        <div class="grid-dashboard-item">
          <p>Badges</p>
          <h3>14 books</h3>
        </div>
      </div>

  </div>
<% end %>
