<%= render "shared/banner" %>
<div class="container">

    <p>Lorem  laboriosam quaerat veritatis, repudiandae nesciunt laborum! Cum voluptates illum necessitatibus unde, magnam fuga, reiciendis quam quibusdam fugit, ullam nostrum sunt quidem reprehenderit distinctio id tenetur vitae! Beatae consectetur quaerat adipisci sequi, perspiciatis quia quibusdam minus iure corrupti tempore, quae iste et? Animi architecto assumenda molestiae recusandae saepe impedit possimus rem quia tempore, nulla libero vel est, quidem dolorem sequi, repellendus quasi inventore cum. Ea sequi, doloribus nisi ex, necessitatibus sit aspernatur ipsum animi recusandae impedit qui quibusdam rerum. Saepe aperiam atque optio vel omnis. Quo quae eaque, blanditiis labore perspiciatis fugit in reiciendis explicabo! Amet nulla harum voluptatem quo facilis quibusdam ullam accusantium? Non magnam dolores assumenda ipsum aspernatur eum consectetur quam dolorum iste, possimus blanditiis harum! Et, quo architecto obcaecati commodi, quia quod sit, beatae quis aspernatur quaerat earum. Autem amet similique tempora, beatae explicabo magni aliquid corrupti, quaerat sapiente ab sit id obcaecati architecto sequi placeat odio? Distinctio quo ut magnam laborum dolore consequatur! Totam, rerum maiores eaque numquam tenetur consequuntur libero consectetur nulla quae minus itaque fuga ex aliquam. Assumenda provident voluptatum numquam soluta incidunt necessitatibus. Hic labore aut explicabo.</p>

  <div class="button-container">
    <%= link_to "Investrors", root_path , class: "style= button-white-horizontal"%>
    <%= link_to "Authors", root_path , class: "style= button-grey" %>
  </div>

  <div class="top-picks">

    <h2>Top picks</h2>

  </div>

</div>
