<div class="container">
  <div class="title">
    <h1 class="title">Everything you need<br>to know about <br>investment</h1>
  </div>
  <div class="row gx-5">


    <div class="flip-card col-4">
      <div class="flip-card-inner">
        <div class="flip-card-front determine-risk" style="background-image: url('https://cdnblog.etmoney.com/wp-content/uploads/2021/06/5-Best-Senior-Citizen-Investment-Schemes-1200x499-1.png');">
          <h2>Determine Risk</h2>
        </div>
        <div class="flip-card-back">
          <p class="determine-risk">Why? Because there is more time available to recover any losses and less likelihood of being forced to sell out of the position too early. Bankroll: Determining the amount of money you can stand to lose is another important factor in figuring out your risk tolerance.</p>
        </div>
      </div>
    </div>

    <div class="flip-card col-4">
      <div class="flip-card-inner">
        <div class="flip-card-front buy-low" style="background-image: url('https://images.livemint.com/img/2022/03/02/1600x900/sip_1646241090555_1646241103965.jpg');">
          <h2>Buy Low Sell High</h2>
        </div>
        <div class="flip-card-back">
          <p class="buy-low">The benefits of Buy Low & Sell High are pretty obvious: You could generate very high returns, if successful. You're more likely to outperform the market then if you were investing in mutual funds. You could buy a lot of stock for a lower price.</p>
        </div>
      </div>
    </div>

    <div class="flip-card col-4">
      <div class="flip-card-inner">
        <div class="flip-card-front objection" style="background-image: url('https://pueblodeoro.com/wp-content/uploads/2021/07/Best-Property-Investment-Locations-in-the-Philippines.jpg');">
          <h2>Understand The Object Of Your Investment</h2>
        </div>
        <div class="flip-card-back">
          <p class="objection">Your objective should guide what types of assets you add to your portfolio. You might want to see the best possible tax results, minimize your risk as much as possible, or focus on a target-date goal, such as retirement. There are three types of investment objectives: growth, growth and income, or income.</p>
        </div>
      </div>
    </div>

    <div class="flip-card col-4">
      <div class="flip-card-inner">
        <div class="flip-card-front long-term" style="background-image: url('https://images.livemint.com/img/2021/07/05/600x338/835871664-k2sG--621x414@LiveMint_1625490426813.jpg');">
          <h2>Invest Long Term</h2>
        </div>
        <div class="flip-card-back">
          <p class="long-term">Short-term investments are held for less than a year, while long-term investments are held for a year or longer. Generally speaking, long-term investments are the best option for most individual investors, while short-term investments can be used if you are savvy enough to exploit openings.</p>
        </div>
      </div>
    </div>

    <div class="flip-card col-4">
      <div class="flip-card-inner">
        <div class="flip-card-front trends" style="background-image: url('https://thumbor.forbes.com/thumbor/fit-in/x/https://www.forbes.com/advisor/in/wp-content/uploads/2021/08/download-_11_-scaled-e1629366759454.jpg');">
          <h2>Don't Trust Trends</h2>
        </div>
        <div class="flip-card-back">
          <p class="trends">Herding behavior is behind most stock market bubbles. Two conditions for stock market bubbles are: new money inflows (which sustain the inflated price), and credit expansion (to generate the capital to invest). When credit conditions tighten, capital flows into the investment market slows and stocks start to decline.</p>
        </div>
      </div>
    </div>

    <div class="flip-card col-4">
      <div class="flip-card-inner">
        <div class="flip-card-front diversify" style="background-image: url('https://i0.wp.com/financebuddha.com/blog/wp-content/uploads/2018/01/16175526/Invest-to-get-return.jpg?fit=945%2C540&ssl=1');">
          <h2>Diversify Risk</h2>
        </div>
        <div class="flip-card-back">
          <p class="diversify">The most common sources of unsystematic risk are business risk and financial risk. Because it is diversifiable, investors can reduce their exposure through diversification. Thus, the aim is to invest in various assets so they will not all be affected the same way by market events.</p>
        </div>
      </div>
    </div>

  </div>
  <div class="w-100 text-center">
    <iframe class="youtube" width="560" height="315" src="https://www.youtube.com/embed/PHe0bXAIuk0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

</div>
