
<div class="container">
  <div class="title">
    <h1 class="title-sp mt-5">10 Reasons To Self Publish</h1>
  </div>

 <div class="highlights">


    <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <div class="card card-1">
          <h1 class="number">1</h1>
            <div id="typed-strings">
              <h1>More control over content and design</h1>
              <p class="typed-text" data-controller="typed-js"></p>
            </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card card-2 tinted-image">
          <h1 class="number">2</h1>
          <h1>Self-publish with better time to market</h1>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card card-3">
          <h1 class="number">3</h1>
          <h1>Better longevity when you self-publish</h1>
          <p>When traditional publishers stop marketing a book, the author has little input. As a self-publisher, you can keep your book in print forever. Or at least as long as it takes for readers to discover it.</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card card-4">
          <h1 class="number">4</h1>
          <h1>Quicker to make revisions when needed</h1>
          <p>Traditional publishing can take months to fix errors. Why? Because publishers print revisions after they've sold off the current inventory. Self-publishers can revise books immediately. That's because they use online ebook re-sellers and printing on demand technology.</p>
        </div>
      </div>
        <div class="swiper-slide">
        <div class="card card-5">
          <h1 class="number">5</h1>
          <h1>Higher royalties when you self-publish</h1>
          <p>The royalty you receive from traditional publishers is 10-15% of sale. On the self-published side, Amazon pays a 35-70% royalty.</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card card-6">
          <h1 class="number">6</h1>
          <h1>More control over price</h1>
          <p>Self-publishing enables you to change the price of your book at will. You can set a lower price to try to sell more copies or a higher price to communicate higher quality.</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card card-7">
          <h1 class="number">7</h1>
          <h1>Easy access to global distribution</h1>
          <p>Self publishing enables you to achieve global distribution of your ebook on day one. Kindle Direct Publishing will list your ebook in 100 countries. Apple's iBookstore reaches 50 countries.</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card card-8">
          <h1 class="number">8</h1>
          <h1>Full control of foreign rights</h1>
          <p>If your book is successful, foreign publishers will contact you to buy the rights for their country. In this scenario, you might make more money. You 're not sharing revenue with a traditional publisher.</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card card-9">
          <h1 class="number">9</h1>
          <h1>Better access to analytics</h1>
          <p>Most online ebook re-sellers and print on demand printers provide real-time or near real-time sales results. Traditional publishers provide twice-yearly royalty statements - imagine running a business with two sales reports per year.</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card card-10">
          <h1 class="number">10</h1>
          <h1>Increased deal flexibility</h1>
          <p>As a self-publisher, you can cut any kind of deal with any kind of organization. Traditional publishers only sell to re-sellers, except for bulk sales of printed books to large organizations.</p>
        </div>
      </div>
      </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>

  </div>

  <div class="m-100 text-center my-5">
    <%= link_to "I'm ready to publish my book!", new_book_path , class: "btn btn-outline-dark btn-lg" %>
  </div>
  <div class="m-100 text-center my-5">
    <%= link_to "I'm still not convinced", "#section-2" , class: "btn btn-outline-warning btn-md" %>
  </div>

  <section>
    <div class="author-stories">
      <p>
      “You are a start-up … The next great business is you.”

      —Hugh Howey
      </p>
    </div>
  </section>

</div>

<%# <script src="typed.js"></script> %>

<script>
  const swiper = new Swiper('.swiper', {
    // Optional parameters
    loop: true,
    pagination: {
      el: '.swiper-pagination',
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    }
  });
</script>
