<div class="container">
  <h1>Add credits to your account</h1>

  <div class="row">
    <% @wallets.each do |wallet| %>
    <div class="col-4 mt-3">
      <h4>Add €<%= wallet.cash_value %></h4>
        <%= form_with url: orders_path do %>
          <%= hidden_field_tag 'cash_wallet_id', wallet.id %>
          <%= submit_tag 'Purchase', class: 'button-grey' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
