
  <div class="all-books">
    <div class="title">
      <h1 class="title">All<br>books</h1>
    </div>
    <div class="dashboard">
      <%= render "shared/dashboard", width: "width: 800px;" %>
    </div>
  </div>
  <div class="search-bar">
    <%= form_with url: books_path, method: :get, html: {class:
      "mb-4", data: {search_books_target: "form"}} do |f| %>
      <%= f.text_field :query,
                class: "form-control",
                placeholder: "Horror, Mystery, Strong female lead etc...",
                value: params[:query],
                data: {search_books_target: "input"} %>
    <% end %>
  </div>
  <div class="d-flex flex-row">
    <div class=button-white>Filter</div>
    <div class=button-white>Filter</div>
  </div>

  <div class="grid-container">
    <% @books.each do |book| %>
      <%= render "shared/card", width: "", book: book %>
    <% end %>
  </div>

