<div class="container">
  <h1>Invest in books</h1>

  <div class="dashboard">
  <h2>Dashboard</h2>

  </div>

  <%= link_to "Place your own book", new_book_path %>

  <div class="grid-container">
    <% @books.each do |book| %>
      <%= render "shared/card", width: "", book: book %>
    <% end %>
  </div>
</div>
