.alert {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 92vh;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.2);
}

.custom-notice {
  padding: 5rem;
  background-color: $white;
  border: solid 1px grey;
  font-size: 5rem;

}

.btn-close {
  font-size: 8 rem;
}

// .custom-alert {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 100vw;
//   height: 100vh;
// }
