.button-white {
  width: 90px;
  border: solid 1px $greyscale-3;
  background-color: $greyscale-1;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  border-radius: 15px;
  transition: 0.3s ease;
  text-align: center;
  justify-content: center;
  padding: 5px 10px;
}

.button-grey {

}
