//button size/

.small {
  width: 8rem;
}

.medium {
  width: 10rem;
}

.large {
  width: 12rem;
}

//button styles

.button-white-vertical {
  border-left: solid 0.063rem $greyscale-3;
  border-right: solid 0.063rem $greyscale-3;
  background-color: $white;
  font-family: $dashboard-font;
  font-weight: 500;
  text-align: center;
  justify-content: center;
  padding: 0.8rem 0.8rem;
}

.button-white-vertical:hover {
  transition: 0.5s ease;
  border-top: solid 0.063rem $greyscale-5;
  border-bottom: solid 0.063rem $greyscale-5;
  color: $greyscale-6;
}

.button-white-horizontal {
  border-top: solid 0.063rem $greyscale-3;
  border-bottom: solid 0.063rem $greyscale-3;
  background-color: $white;
  font-family: $dashboard-font;
  font-weight: 500;
  text-align: center;
  justify-content: center;
  padding: 0.5rem 0.5rem;
}

.button-white-horizontal:hover {
  transition: 0.5s ease;
  border-top: solid 0.063rem $greyscale-5;
  border-bottom: solid 0.063rem $greyscale-5;
  color: $greyscale-6;
}

.button-grey {
  width: 15rem;
  background-color: $greyscale-3;
  border: $greyscale-1; 
  font-family: Roboto, sans-serif;
  color: $white;
  font-weight: 500;
  text-align: center;
  justify-content: center;
  padding: 1rem 1.2rem;
}

.button-green {
  width: 7rem;
  background-color: $green;
  border: $greyscale-1;
  font-family: Roboto, sans-serif;
  color: $white;
  font-weight: 500;
  text-align: center;
  justify-content: center;
  padding: 0.7rem 1rem;
}

.button-red {
  width: 7em;
  background-color: $red;
  border: $greyscale-1;
  font-family: Roboto, sans-serif;
  color: $white;
  font-weight: 500;
  text-align: center;
  justify-content: center;
  padding: 0.7rem 1rem;
}
