.my-card {
  position: relative;
  height: 40vh;
  border-radius: 10px;
 // border: solid;
 // border-color: $greyscale-2;
  color: $greyscale-5;
  background-color: $white;
  box-shadow: 2px px $greyscale-2;
  padding: 20px;

  .growth {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 15px;
    font-weight: 100;
    color: $green;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .book-info{
    margin: 25px 15px 0 15px;
  }

  .info-bar{
    position: absolute;
    bottom: -10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    margin-top: auto;
  }

  .book-cover {
    border-radius: 5px;
    height: 230px;
  }

}
