.gallery {
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0.205);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
