.my-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  // height: 45vh;
  border-radius: 10px;
  border: solid;
  border-color: $greyscale-2;
  color: $greyscale-5;
  background-color: $white;
  padding: 10px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  z-index:-1;
  -webkit-box-shadow:0 0 20px $greyscale-3;
  -moz-box-shadow:0 0 20px $greyscale-3;
  box-shadow:0 0 20px $greyscale-3;
  top:0;
  bottom:0;
  left:10px;
  right:10px;
  .button-white-horizontal {
    font-size: 1.5rem;
  }


  .growth {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    color: $green;
    font-family: $dashboard-font;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p {
      font-size: 1.5rem;
      font-weight: 200;
    }
  }

  .book-info{
    margin: 8px;
    margin-top: 45px;
    p {
      overflow: hidden;
      font-size: 1.0rem;
    }
    width: 50%;
    height: 26vh;
  }

  .info-bar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    margin: 1rem 0 0 1rem;
    p {
      font-size: 1.0rem;
    }
  }

  .book-cover {
    // margin-top: 20px;
    // margin-left: 10px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .image-container{
    margin: 8px;
    height: 30vh;
    width: 50%;
  }
}
