.my-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 45vh;
  border-radius: 10px;
  border: solid;
  border-color: $greyscale-2;
  color: $greyscale-5;
  background-color: $white;
  box-shadow: 2px 2px $greyscale-2;
  padding: 10px;


  .growth {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    color: $green;
    font-family: $dashboard-font;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p {
      font-size: 1.5rem;
      font-weight: 200;
    }
  }

  .book-info{
    margin: 8px;
    margin-top: 45px;
    p {
      overflow: hidden;
      font-size: 1.0rem;
    }
    width: 50%;
    height: 26vh;
  }

  .info-bar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    margin-top: auto;
    p {
      font-size: 1.0rem;
    }
  }

  .book-cover {
    // margin-top: 20px;
    // margin-left: 10px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .image-container{
    margin: 8px;
    height: 30vh;
    width: 50%;
  }
}
