.dashboard-container {
  display: flex;
  width: 35vw;
  height: 15vh;
  border-radius: 5px;
  padding: 10px;
  flex-direction: column;
  border: solid;
  border-color: $greyscale-2;
  color: $greyscale-5;
  background-color: $white;
  box-shadow: 5px 5px $greyscale-2;
  z-index: 1;
}

.portfolio-value {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.grid-dashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.grid-dashboard-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
