.dashboard-container {
  display: flex;
  width: 35vw;
 
  border-radius: 5px;
  padding: 10px;
  flex-direction: column;
  color: $greyscale-5;
  background-color: $white;
  box-shadow: 2px 2px $greyscale-2;
  z-index: 1;
  font-family: $dashboard-font;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  -webkit-box-shadow:0 0 20px $greyscale-5;
  -moz-box-shadow:0 0 20px $greyscale-5;
  box-shadow:0 0 20px $greyscale-5;
  top:0;
  bottom:0;
  left:10px;
  right:10px;
}

.portfolio-value {
  display: flex;
  flex-direction: row;
  padding: 0 2rem;
  justify-content: space-between;
  border-bottom: solid $greyscale-2;
}

.grid-dashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 15px;
}

.grid-dashboard-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
