.dashboard-container {
  display: flex;
  width: 35vw;
  height: 20vh;
  border-radius: 5px;
  padding: 10px;
  flex-direction: column;
  //border: solid;
  //border-color: $greyscale-2;
  color: $greyscale-5;
  background-color: $white;
  box-shadow: 2px 2px $greyscale-2;
  z-index: 1;
  font-family: $dashboard-font;
}

.portfolio-value {
  display: flex;
  flex-direction: row;
  padding: 0 2rem;
  justify-content: space-between;
  border-bottom: solid $greyscale-2;
}

.grid-dashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 15px;
}

.grid-dashboard-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
