.navbar {
  position: fixed;
  width: 100%;
  background: $white;
  border-color: $greyscale-2;
  box-shadow: 2px 2px $greyscale-2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 22px;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 1;
}

.learn-about {
  width: 50vw;
  background: $white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.avatar {
  height: 50px;
  width: 50px;
}

.dropdown-item {
  z-index: 2;
}
