.navbar {
  background: $white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 22px;
  padding-left: 15px;
  padding-right: 15px;
}

.learn-about {
  width: 50vw;
  background: $white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.avatar {
  height: 60px;
  width: 60px;
}

// .navbar .navbar-collapse {
//   flex-grow: 0;
// }
