.navbar {
  height: 10vh;
  position: fixed;
  width: 100%;
  background: #dadde96b;
  box-shadow: 1px 1px $greyscale-2;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  font-size: 22px;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 2;
  #logo {
    width: 14rem;
  }
}

.learn-about {
  width: 50vw;
  color: #2B4F8D;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.home {
  height: 8vh;
}

.avatar-bordered {
  height: 50px;
  width: 50px;
}

.dropdown-item {
  z-index: 2;
}
