.card-table{
  border-radius: 10px;
  margin: 10px 0;
  overflow: hidden;
}

table{
  width: 100%;

  #first-row{
    border-bottom: 2px solid $greyscale-3;
    color: $greyscale-5;
  }

  td, th {
    border-bottom: 1px solid $greyscale-3;
    text-align: left;
    padding: 8px;
  }
}
